{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="container col-xxl-8 px-4 py-5">
    
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        
     
        <img data-zoom-image="/media/{{ details_data.image }}" src="/media/{{details_data.image }}" width="500" height="500">
       
      </div>
      <div class="col-lg-6">
        <h6 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ details_data.name}}</h6>
        <p class="lead">{{ details_data.disc }}</p>
        <p>Price : {{ details_data.price }}</p>
        
        <form action="/add_to_cart">
          {% csrf_token %}
          
          <input type="text" value="{{ details_data.id }}" id="id" name="id" >
          <button class="btn btn-primary btn-sm" type="submit">ADD TO CART</button>

        </form>
      </div>
  </div>
</div>
 {% endblock body %}

